body {
  background-color: silver;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.list-item {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: inside;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration-style: dashed;
}

ul {
  text-align: center;
}

.list-item:hover {
    background-color: cornflowerblue; 
}

div {
    border: solid 20px lightslategray;
    background-color: skyblue;
    color: blue;
    margin: 0 15% 0 15%;
    border-style: ridge;    
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: skyblue;
    color: blue;
    border: 20px slategray;
    border-style: groove;   
    margin: 25px 15% 0 15%;
  }


h4 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  block-size: fit-content;
  width: fit-content;
  padding: 20px;
  border: solid 10px slategray;
  border-style: groove;
  margin: 0;
}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: steelblue;
    color: white;
}

.pad-btn {
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  block-size: 200px;
  width: 200px;
}

.scale-button-list {
  justify-items: auto;
}

.active {    
    background-color: green;
    color: white;
}

.inactive {
    background-color: red;
    color: white;
}

.in-use {
    border: cornflowerblue;
}
