.list-item {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration-style: dashed;
}
.list-item:hover {
    background-color: cornflowerblue;
}

div {
    border: solid black;
    background-color: skyblue;
    color: blue;
    
}

h1 {
    text-align: center;
}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: silver;
    margin: 30px;
}
button:active {
    top: 2px;
    left: 1px;
    box-shadow: none;
}

.scale-btn-list {
    border: solid black
}

.active {    
    background-color: green;
    color: white;
}

.inactive {
    background-color: red;
    color: white;
}

.in-use {
    color:yellow;
    box-shadow: none;
}

.not-in-use {
    color: purple;
}