body {
  background-color: black;
  display: flex;
  align-items: stretch;
  text-align: center;
}

.list-item {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: inside;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration-style: dashed;
}

ul {
  text-align: center;
}

.list-item:hover {
    background-color: cornflowerblue; 
}

div {
  border: solid 20px lightslategray;
  background-color: skyblue;
  color: blue;
  border-style: ridge;  
}

#left-side-div {
  border: none;
  background: none;
}

#chord-div {
  border-right-style: groove;
  border-bottom-style: groove;
}

#chord-select-div {
  border-right-style: groove;
}

#chord-btn-list {
  background-color: black;
  padding: 0;
  width: fit-content;
  height: fit-content;
}

#scale-btn-div {
  border-style: none;
  border-bottom-style: ridge;
}

#melody-pad-div {
  border-style: none;
  border-top-style: groove;
}


h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: skyblue;
    color: blue;
    border: 20px lightslategray;
    border-style: groove;
  }


h4 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  block-size: fit-content;
  width: fit-content;
  padding: 20px;
  border: solid 10px lightslategray;
  border-style: groove;
}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: steelblue;
    color: white;
}

.pad-btn {
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  block-size: 200px;
  width: 200px;
}

.scale-button-list {
  justify-items: auto;
}

.active {    
    background-color: green;
    color: white;
}

.inactive {
    background-color: red;
    color: white;
}

.in-use {
    border: cornflowerblue;
}
